body{
    margin: 0;
    padding: 0;
}

.container{
    width: 90%;
    margin: auto;
}

nav{
    background: black;
    padding: 15px;
}

nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    min-width: 100px;
    text-align: center;
    line-height: 40px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav .menu{
    color: white;
    padding: 5px;
    display: none;
}

nav #customcheckbox{
    display: none;
}

@media screen and (max-width:786px) {
   nav ul{
    display: none;
   }

    nav .menu{
        display: block;
        cursor: pointer;
        height: 40px;
        text-align: right;
    }

    nav .menu i{
        font-size: 30px;
        text-align: center;
    }
    nav #customcheckbox:checked~ul{
        display: block;
    }

    nav ul li{
        text-align: right;
        padding: 20px;
    }

}