body{
    margin: 0;
    padding: 0;
}

.container{
    width: 85%;
    margin: auto;
}

.top-header {
    background-color: rgb(225, 225, 225);
}

.top-header a{
    text-decoration: none;
    color: rgb(156, 155, 155);
    line-height: 40px;
}

.top-menu{
    display:flex;
    justify-content: space-between;
}

.top-right ul{
    display: flex;
    list-style: none;
    margin: 0;
    position: relative;
}

.top-right ul li{
    min-width: 100px;
    text-align: center;
}

.top-right ul ul{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    display: none;
    position: absolute;
}

.top-right .drop-down >a::after{
    content: "  V";
}

.top-right ul li:hover{
    background-color: rgb(238, 238, 238);
    
}

.top-right ul li:hover ul{
    display: block;
    border: 1px solid rgb(239, 239, 239)
}

.drop-down ul li{
    text-align: left;
}



